<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Careers</title>

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

        <!--  Bootstrap JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        </script>

    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <div class="collapse navbar-collapse show" id="navbarDark">
                    <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/" type="button" id="careerGotoButton" name="careerGotoButton">
                                Resumes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/career" type="button" id="careerGotoButton" name="careerGotoButton">
                                Careers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/partners" type="button" id="partnersGotoButton" name="partnersGotoButton">
                                Partners
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/stories" type="button" id="storiesGotoButton" name="storiesGotoButton">
                                Stories
                            </a>
                        </li>
                    </ul>

                    <form class="d-flex" action="/career" method="GET">
                        <input class="form-control mx-1" type="search" placeholder="Search" aria-label="Search" id="searchInput" name="search">
                        <button class="btn btn-outline-light mx-1" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 
                                1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                        <a class="btn btn-danger mx-1" href="/career" type="button" id="resetSearchButton2" name="resetSearch">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                            </svg>
                        </a>
                    </form>
                </div>
            </div>
        </nav>

        <div class="container">
            <table class="table table-hover caption-top">
                <div class="caption my-1">
                    <button class="btn btn-outline-success" data-bs-target="#careerAddModal" data-bs-toggle="modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-database-add" viewBox="0 0 16 16">
                            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Z"/>
                            <path d="M12.096 6.223A4.92 4.92 0 0 0 13 5.698V7c0 .289-.213.654-.753 1.007a4.493 4.493 0 0 1 1.753.25V4c0-1.007-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1s-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4v9c0 1.007.875 1.755 1.904 2.223C4.978 15.71 6.427 16 8 16c.536 0 1.058-.034 1.555-.097a4.525 4.525 0 0 1-.813-.927C8.5 14.992 8.252 15 8 15c-1.464 0-2.766-.27-3.682-.687C3.356 13.875 3 13.373 3 13v-1.302c.271.202.58.378.904.525C4.978 12.71 6.427 13 8 13h.027a4.552 4.552 0 0 1 0-1H8c-1.464 0-2.766-.27-3.682-.687C3.356 10.875 3 10.373 3 10V8.698c.271.202.58.378.904.525C4.978 9.71 6.427 10 8 10c.262 0 .52-.008.774-.024a4.525 4.525 0 0 1 1.102-1.132C9.298 8.944 8.666 9 8 9c-1.464 0-2.766-.27-3.682-.687C3.356 7.875 3 7.373 3 7V5.698c.271.202.58.378.904.525C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777ZM3 4c0-.374.356-.875 1.318-1.313C5.234 2.271 6.536 2 8 2s2.766.27 3.682.687C12.644 3.125 13 3.627 13 4c0 .374-.356.875-1.318 1.313C10.766 5.729 9.464 6 8 6s-2.766-.27-3.682-.687C3.356 4.875 3 4.373 3 4Z"/>
                        </svg>
                    </button>
                    <button class="btn btn-outline-dark"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                        </svg>
                    </button>
                </div>
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Summary</th>
                        <th scope="col">Qualifications</th>
                        <th scope="col" class="text-center">Edit</th>
                        <th scope="col" class="text-center">Delete</th>
                    </tr>
                </thead>  

                <% careers.forEach(function(career) { %>
                    <tbody id="row-<%= careers.id %>">
                        <tr id="careers-row-<%= careers.id %>">
                            <td><%= career.name %></td>
                            <td><%= career.location %></td>
                            <td class="text-truncate"  style="max-width: 150px;"><%= career.summary %></td>
                            <td class="text-truncate" style="max-width: 150px;"><%= career.qualifications %></td>
                            <td class="text-center">
                                <button class="btn btn-outline-success" data-bs-target="#careerEditModal" data-bs-toggle="modal"
                                data-editcareer-id="<%= career.id %>">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" 
                                    class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 
                                        0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 
                                        0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 
                                        0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </button>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-outline-danger career-button" type="button" data-career-id="<%= career.id %>">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" 
                                    fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 
                                        0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 
                                        1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 
                                        4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                    </svg>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                <% }); %>
            </table>    
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                        <a class="page-link" href="?page=<%= currentPage - 1 %>&search=<%= search %>">«</a>
                    </li>

                    <li class="page-item <%= currentPage === 1 ? 'active' : '' %>">
                        <a class="page-link" href="?page=1&search=<%= search %>">1</a>
                    </li>

                    <% if (totalPages > 2) { %>
                        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                    <% } %>

                    <% for (let i = currentPage - 1; i <= currentPage + 1; i++) { %>
                        <% if (i > 1 && i < totalPages) { %>
                            <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                <a class="page-link" href="?page=<%= i %>&search=<%= search %>"><%= i %></a>
                            </li>
                        <% } %>
                    <% } %>

                    <% if (totalPages > 2) { %>
                        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                    <% } %>

                    <% if (totalPages >= 2) { %>
                    <li class="page-item <%= currentPage === totalPages ? 'active' : '' %>">
                        <a class="page-link" href="?page=<%= totalPages %>&search=<%= search %>"><%= totalPages %></a>
                    </li>
                    <% } %>

                    <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                        <a class="page-link" href="?page=<%= currentPage + 1 %>&search=<%= search %>">»</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="modal fade" id="careerEditModal" tabindex="-1" aria-labelledby="careerEditModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="container">
                        <div class="modal-header">
                            <h6> Edit</h6>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group my-1">
                                            <span class="input-group-text">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" 
                                                    fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
                                                    <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                                                    <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 
                                                    0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 
                                                    1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"/>
                                                </svg>
                                            </span>
                                            <input id="nameCareer" type="text" class="form-control" placeholder="Career" aria-label="Career" aria-describedby="input-group-left">
                                        </div>
                                        <div class="input-group my-1">
                                            <span class="input-group-text">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 
                                                    1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 
                                                    16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                                </svg>
                                            </span>
                                            <input id="inputLocation" type="text" class="form-control" placeholder="Location" aria-label="Location" aria-describedby="input-group-left">
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <label for="formFile" class="form-label"> 
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-image" viewBox="0 0 16 16">
                                                <path d="M8.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                                <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v8l-2.083-2.083a.5.5 0 0 0-.76.063L8 11 5.835 9.7a.5.5 0 0 0-.611.076L3 12V2z"/>
                                            </svg>
                                            Upload an Icon
                                        </label>
                                        <input class="form-control" type="file" id="iconFile">
                                    </div>
                                </div>
                                <label for="floatingTextarea">Summary</label>
                                <textarea class="form-control" placeholder="Write a summary" id="summaryTextarea" style="height: 100px"></textarea>
                                <label for="floatingTextarea">Qualifications</label>
                                <textarea class="form-control" placeholder="Write a summary" id="qualificationsTextarea" style="height: 100px"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success">
                                Confirm
                            </button>
                            <button class="btn btn-outline-danger" data-bs-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="careerAddModal" tabindex="-1" aria-labelledby="careerAddModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <form id="careerForm">
                        <div class="container">
                            <div class="modal-header">
                                <h6>Add</h6>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="input-group my-1">
                                                <span class="input-group-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-workspace" viewBox="0 0 16 16">
                                                        <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                                                        <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"/>
                                                    </svg>
                                                </span>
                                                <input id="inputAddCareer" type="text" class="form-control" placeholder="Career" aria-label="Career" aria-describedby="input-group-left">
                                            </div>
                                            <div class="input-group my-1">
                                                <span class="input-group-text">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                                    </svg>
                                                </span>
                                                <input id="inputAddLocation" type="text" class="form-control" placeholder="Location" aria-label="Location" aria-describedby="input-group-left">
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <label for="formFile" class="form-label"> 
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-image" viewBox="0 0 16 16">
                                                    <path d="M8.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                                    <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v8l-2.083-2.083a.5.5 0 0 0-.76.063L8 11 5.835 9.7a.5.5 0 0 0-.611.076L3 12V2z"/>
                                                </svg>
                                                Upload an Icon
                                            </label>
                                            <input class="form-control" type="file" id="iconFile">
                                        </div>
                                    </div>
                                    <label for="floatingTextarea">Summary</label>
                                    <textarea id="inputAddSummary" class="form-control" placeholder="Write a summary" style="height: 100px"></textarea>

                                    <label for="floatingTextarea">Qualifications</label>
                                    <textarea id="inputAddQualifications" class="form-control" placeholder="Write a summary" id="qualificationsTextarea" style="height: 100px"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">
                                    Confirm
                                </button>
                                <button class="btn btn-outline-danger" data-bs-dismiss="modal">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
  
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const deleteButtons = document.querySelectorAll('.career-button');

                deleteButtons.forEach(button => {
                    button.addEventListener('click', function () {
                        const careerId = this.getAttribute('data-career-id');
                        deleteCareer(careerId);
                    });                     
                });

                const careerForm = document.getElementById('careerForm');
                careerForm.addEventListener('submit', function (e) {
                e.preventDefault(); 

                const name = document.getElementById('inputAddCareer').value;
                const location = document.getElementById('inputAddLocation').value;
                const summary = document.getElementById('inputAddSummary').value;
                const qualifications = document.getElementById('inputAddQualifications').value;

                const formData = new FormData();
                formData.append('name', name);
                formData.append('location', location);
                formData.append('summary', summary);
                formData.append('qualifications', qualifications);

                addCareer(formData);

                function addCareer(formData) {
                    fetch('/api/career', {
                        method: 'POST',
                        body: formData,
                    })
                    .then(response => {
                        if (response.ok) {
                            window.location.reload();
                        } else {
                            console.error('Failed to add career.');
                        }
                    })
                    .catch(error => {
                        console.error('Error adding career:', error);
                    });
                }

                const addCareerButton = document.querySelectorAll('.careerAddButton');
                const editButtons = document.querySelectorAll('.edit-career-button'); // Use querySelectorAll

                editButtons.forEach(button => {
                    button.addEventListener('click', function () {
                        const careerId = this.getAttribute('data-career-id');
                        fetchCareerData(careerId);
                    });                     
                });

            });
        });

            function fetchCareerData(careerId) {
                fetch(`/api/career/${careerId}`, {
                    method: "GET"
                })
                .then(response => {
                    if (response.ok) {
                        return response.json(); 
                    } else {
                        throw new Error('Network response was not ok');
                    }
                })
                .then(data => {
                    console.log(data);
                })
                .catch(error => {
                    console.error("Error fetching career data:", error);
                });
            }

            function deleteCareer(careerId) {
                if (confirm("Are you sure you want to delete this career?")) {
                    fetch(`/api/careers/${careerId}`, {
                        method: "DELETE"
                    })
                    .then(response => {
                        if (response.ok) {
                            const rowToRemove = document.getElementById(`row-${careerId}`);
                            if (rowToRemove) {
                                rowToRemove.remove();
                            }

                            window.location.reload();
                        } else {
                            console.error("Failed to delete resume.");
                        }
                    })
                    .catch(error => {
                        console.error("Error deleting resume:", error);
                    });
                }
            }
        </script>
    </body>
</html>

<style>
    .page-item.active .page-link {
        background-color: #212529; 
        color: white; 
    }

    .page-link {
        background-color: #E9ECEF; 
        color: #212529; 
    }

    .page-link:hover {
        background-color: #212529; 
        color: white;  
    }
</style>