<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Resumes</title>

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

        <!--  Bootstrap JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.8.335/pdf.js"></script>
    </head>

    <body>
        <div class="container">
            <h1 class="fw-bold text-center">Test Resumes</h1>
            <table class="table table-hover caption-top">

                <form class="justify-content-center">
                    <div class="row justify-content-center my-2">
                        <div class="col-6">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="searchInput">
                        </div>
                        <div class="col-1 text-center">
                            <button class="btn btn-outline-success" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>
    
                 <thead>
                    <tr class="table-dark">
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Number</th>
                        <th scope="col">Position</th>
                        <th scope="col">Date</th>
                        <th scope="col" class="text-center">Resume</th>
                        <th scope="col" class="text-center">Delete</th>

                    </tr>
                </thead>    
                <% resumes.forEach(function(resume) { %>
                    <tbody id="row-<%= resume.id %>">
                        <tr id="resume-row-<%= resume.id %>">
                            <td><%= resume.name %></td>
                            <td><%= resume.email %></td>
                            <td><%= resume.number %></td>
                            <td><%= resume.position %></td>
                            <td><%= resume.date.getFullYear() %>-<%= (resume.date.getMonth() + 1) %>-<%= resume.date.getDate() %></td>

                            <td class="text-center">   
                                <button class="btn btn-outline-dark" data-bs-target="#pdfModal<%= resume.id %>" data-bs-toggle="modal">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-person" viewBox="0 0 16 16">
                                        <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5v2z"/>
                                    </svg>
                                </button>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-outline-danger" type="button" onclick="deleteResume(<%= resume.id %>)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                    </svg>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                <% }); %>
            </table>
            <nav aria-label="Page navigation">
 
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span class="text-dark" aria-hidden="true">«</span>
                    </a>
                    </li>
                    <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
                    <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
                    <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
                    <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span class="text-dark" aria-hidden="true">»</span>
                    </a>
                    </li>
                </ul>
 
            </nav>
        </div>

    <!-- Modals for PDFs -->
    <% resumes.forEach(function(resume) { %>
        <div class="modal fade" id="pdfModal<%= resume.id %>" tabindex="-1" aria-labelledby="pdfModalLabel<%= resume.id %>" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header m-0">
                        <h6><%= resume.name %></h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Embed the PDF here -->
                        <embed src="/pdfs/<%= resume.file %>" type="application/pdf" width="100%" height="100%" />
                    </div>
                </div>
            </div>
        </div>
    <% }); %>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>



        <script>
            function deleteResume(resumeId) {
                if (confirm("Are you sure you want to delete this resume?")) {
                    fetch(`/api/resumes/${resumeId}`, {
                        method: "DELETE"
                    })
                    .then(response => {
                        if (response.ok) {
                            // Remove the deleted resume row from the table
                            const rowToRemove = document.getElementById(`row-${resumeId}`);
                            if (rowToRemove) {
                                rowToRemove.remove();
                            }
                        } else {
                            console.error("Failed to delete resume.");
                        }
                    })
                    .catch(error => {
                        console.error("Error deleting resume:", error);
                    });
                }
            }
        </script>
    </body>
</html>

